.main-menu-container {
    font-family: 'Exo 2', sans-serif;

    position: relative;

    background-color: #35373B;
    height: 56px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}


/* site logo */

.site-logo {
    display: flex;
    align-items: center;

    color: white;

    font-size: 20px;
    letter-spacing: 1.2px;
}

.portal-logo {
    margin-right: 5px;
    font-size: 30px;
    size: 30px;
    width: 38px;

}


/* menu */

.main-menu-nav {
    position: relative;
    right: 40px;


}


.main-menu-links,
.main-menu-links-button {


    text-decoration: none;
    color: rgb(214, 212, 212);
    font-size: 17px;


    padding-left: 3px;
    padding-right: 3px;

    /* last link is button */
    border: 0;
    background-color: transparent;

}


.main-menu-links-button {

    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;

}

.vectorArrowDown {
    margin-left: 5px;
}



.main-menu-links:hover,
.main-menu-links-button:hover {

    color: white;

}

.main-menu-links-button:hover {
    background-color: rgb(114, 110, 110);
    /* padding: 10px; */
    border-radius: 20px;
    cursor: pointer;

}

.seleced {
    color: #FF9300;
}



/* drom down menu */



.dropdown-menu {
    border: 1px solid black;
    background-color: #1D1F20;
    width: 550px;
    height: fit-content;
    position: absolute;
    top: 45px;
    left: 0px;
}

.drop-down-menu-links {

    text-decoration: none;
    color: inherit;
    color: white;
    margin: 5px;

}

/* addative class */
.cost-of-livings {
    padding: 20px;
}





.main-categories {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid rgb(187, 183, 183);
}

.second-categories {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgb(187, 183, 183);

}

.all-catergories {
    padding-bottom: 10px;
}

.first-collum-second-catergories{

}

.second-collum-second-catergories{

}