@media only screen and (max-width: 1500px) {
    body {
        background-color: lightblue;
    }

    .submit-btn {
        margin-left: 20px;

    }


    .main-menu-container {
        width: 90%;
    }


}

@media only screen and (max-width: 1400px) {
    body {
        background-color: lightgreen;
    }


    .site-logo {
        margin-left: 100px;
    }


    .main-menu-container {
        display: flex;
    }

    .submit-btn {
        margin-left: 20px;

        position: absolute;
        top: 0;
        left: 0px;
    }

    .site-logo {
        position: relative;
        top: 0px;
        right: 100px;
        /* margin-right: 150px; */
    }

    .main-menu-nav {
        position: relative;
        top: 0;
        left: -80px;
    }



    .register-login-btn {
        position: relative;
        top: 0px;
        left: 48px;
    }

    .register-login-btn-container {
        position: relative;
        top: 0;
        left: 30px;
    }

    .search-bar {
        position: relative;
        top: 0px;
        right: 59px;
        width: 149%;
    }

    /* .main-menu-container{
        width: 85%;
    }
 */


}

@media only screen and (max-width: 1166px) {

    body {
        background-color: lightcoral;
    }



    .search-bar-container {
        position: relative;
        top: 0px;
        left: 40px;

        width: 9%;
    }

    .search-bar::placeholder {
        text-align: center;
    }



    .submit-btn {
        margin-left: 20px;

        position: absolute;
        top: 0;
        left: 10px;
    }

    .register-login-btn-container {
        position: relative;
        top: 0;
        left: 35px;
    }


    .second-menu-arrow-right {
        position: absolute;
        top: 20px;
        right: 110px;
    }

}

@media screen and (max-width: 1120px) {


    body {
        background-color: darkseagreen;
    }

    .submit-btn-container {
        /* width: 7%; */
        position: absolute;
        top: 0;
        left: 2%;
        padding: 12px;
    }

    .register-login-btn-container {
        position: absolute;
        top: 0%;
        left: 4%;
        padding: 12px;
        margin-right: 10px;
    }

    .search-bar-container {
        position: relative;
        top: 0px;
        left: 0px;

        width: 13%;
    }


    /* .resposive-register-login-btn {

        position: absolute;
        top: -20px;
        left: 0px;

        padding: 12px;
        width: fit-content;
    } */



}

@media screen and (max-width: 870px) {

    body {
        background-color: palevioletred;
    }

    .link-menu {
        display: flex;
        flex-direction: column;
    }

}