






.main-menu-container {
    font-family: 'Exo 2', sans-serif;

    position: relative;

    background-color: black;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}


/* site logo */

.site-logo {
    display: flex;
    align-items: center;

    color: white;

    font-size: 20px;
    letter-spacing: 1.2px;
}

.portal-logo {
    margin-right: 5px;
    font-size: 30px;
    size: 30px;
    width: 38px;

}


/* menu */

.main-menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    position: relative;
    right: 40px;


}


.main-menu-links,
.main-menu-links-button {
    transition: all 400ms ease-out;


    text-decoration: none;
    color: rgb(214, 212, 212);
    font-size: 17px;


    padding-left: 3px;
    padding-right: 3px;

    /* last link is button */
    border: 0;
    background-color: transparent;

}


.main-menu-links-button {

    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;

}

.vectorArrowDown {
    transition: all 300ms ease-in-out;
    margin-left: 5px;
}

.vectorArrowDown-up {
    margin-left: 5px;
    transition: all 300ms ease-in-out;
    transform: rotate(180deg);
}



.main-menu-links:hover,
.main-menu-links-button:hover {

    color: white;

}

.main-menu-links-button:hover {
    background-color: rgb(114, 110, 110);
    /* padding: 10px; */
    border-radius: 20px;
    cursor: pointer;

}


.seleced {
    color: var(--magic-yellow)
}







/* search bar */
.search-bar-container {
    position: relative;
}

.search-bar {
    position: relative;
    top: 0px;
    right: 100px;
    border-radius: 20px;
    height: 30px;
    width: 210%;
    border: none;
    outline: none;
    text-align: start;
    color: #4b4c50;
    font-weight: 300px;

}

.search-bar:focus {

    border: 4px var(--magic-yellow) solid;

    transition-duration: .2s;
    transition-timing-function: ease-in;
}

.search-bar::placeholder {}

.register-login-btn-container {
    position: relative;

    /* margin-right: 10px; */

}

.right-to-bracket {
    margin-right: 10px;
    margin-top: 0px;
    font-size: large;
}


/* .end-btn-main-menu{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;

} */
.register-login-btn {

    /* position: relative; */
    /* top: 0px;
    left: 10px; */
    width: 180px;
    display: flex;
    text-align: center;
    justify-content: center;

    text-decoration: none;
    font-weight: inherit;
    font-stretch: inherit;
    font-weight: bold;
    color: white;

    background-color: transparent;
    border: 0;
    background-color: #4A4B4F;

    cursor: pointer;
    border-radius: 20px;

    padding: 10px 16px 10px 16px;

}

.register-login-btn:hover {
    background-color: #5D5F62;
    transition: all 100ms ease-in-out;

}

.resposive-register-login-btn {

    /* position: absolute;
    top: 0%;
    left: 0px; */

    padding: 12px;
    width: fit-content;
}


.user-icon-reg-btn {
    font-size: 16px;
}


.submit-btn-container {
    position: relative;
}

.plus-icon {
    margin-right: 10px;
    font-size: large;
}

.plus-icon-responce-size {

    font-size: large;
}

.submit-btn {

    position: relative;
    top: 0px;
    right: 60px;

    display: flex;
    align-items: center;

    cursor: pointer;
    font-weight: inherit;
    font-stretch: inherit;
    font-weight: bold;
    letter-spacing: 0.8px;

    color: white;
    background-color: var(--magic-yellow);
    border: 0;
    border-radius: 20px;

    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.submit-btn:hover {
    border: 0;
    background-color: #ffaa00;
    border: 1 px solid #ffaa00;
    transition: all 100ms ease-in-out;
    /* transform: scale(1.08); */

}

.responsive-submit-btn {

    position: relative;
    top: 0px;
    left: -10px;

    padding: 10px;
}

.logo-text {
    text-decoration: none;
    color: inherit;
}

.magnitify-glass {
    color: white;
    background-color: white;
}

.active-menu-links {
    background-color: rgb(114, 110, 110);
    /* padding: 10px; */
    border-radius: 20px;
    cursor: pointer;

}

.search-resposive-button {
    margin: 0;
    padding: 0;
    z-index: 1011;
    position: absolute;
    top: 16%;
    right: 10%;

    background-color: transparent;
    color: white;
    border: 0;
    padding: 12px;
    background-color: #5D5F62;
    border-radius: 50%;
    cursor: pointer;
}