@media only screen and (max-width: 1500px) {
    body {
        background-color: lightblue;
    }

    .submit-btn {
        margin-left: 20px;

    }


    .main-menu-container {
        width: 100%;
    }


}

@media only screen and (max-width: 1400px) {
    body {
        background-color: lightgreen;
    }


    .site-logo {
        margin-left: 100px;
    }


    .main-menu-container {
        display: flex;
    }

    .submit-btn {
        margin-left: 20px;

        position: relative;
        top: 0;
        left: 0px;
    }

    .site-logo {
        position: relative;
        top: 0px;
        right: 100px;
        /* margin-right: 150px; */
    }

    .main-menu-nav {
        position: relative;
        top: 0;
        left: -80px;
    }



    /* .register-login-btn {
        position: relative;
        top: 0px;
        left: 48px;
    } */

    .register-login-btn {
        position: relative;
        left: 21%;
        /* margin-right: 10px; */
    }

    .search-bar {
        position: relative;
        top: 0px;
        right: 55%;
        width: 171%;
    }

    /* .main-menu-container{
        width: 85%;
    }
 */


}

@media only screen and (max-width: 1166px) {

    body {
        background-color: lightcoral;
    }



    /* .search-bar-container {
        position: relative;
        top: 0px;
        right: 50%;

        width: 9%;
    } */

    .search-bar::placeholder {
        text-align: center;
    }



    .submit-btn {
        margin-left: 20px;

        position: relative;
        top: 0;
        left: 10px;
    }

    .register-login-btn {
        position: relative;
        left: 24%;
        /* margin-right: 10px; */
    }



    .second-menu-arrow-right {
        position: absolute;
        top: 20px;
        right: 110px;
    }

}

@media screen and (max-width: 1120px) {


    body {
        background-color: darkseagreen;
    }

    .submit-btn-container {
        /* width: 7%; */
        /* position: absolute;
        top: 0;
        left: -68%; */
        padding: 12px;
    }




    /* .search-bar-container {
        position: relative;
        top: 0px;
        left: 3%;
        width: 9%;
    } */

    .search-bar {

        position: relative;
        top: 0px;
        right: 20%;
        width: 140%;
    }


    .register-login-btn {
        position: relative;
        left: 25%;
        /* margin-right: 10px; */
    }

    .resposive-register-login-btn {


        left: 120%;
        padding: 12px;
        width: fit-content;
    }



}

@media screen and (max-width: 870px) {

    .main-auth-form-container {
        position: absolute;
        top: 100px;
        left: 18% !important;
    }

    body {
        background-color: aqua;
    }


    .addative-link-menu {
        display: flex;
    }


    .second-collum-second-catergories {
        position: absolute;
        top: 335px;
        left: 270px;
    }

    .second-part-merchants {
        position: absolute;
        top: 729px;
        left: 280px;
    }

    .link-menu-in-drop-down-menu {
        display: flex;
    }

    /* .register-login-btn-container {
        position: absolute;
        left: 40%;
    } */

    .dropdown-menu {
        position: absolute;
        top: 55px;
        left: 0%;
    }



    .resposive-register-login-btn {
        /* position: absolute; */
        /* top: -30%; */
        left: 138%;
    }

    .register-login-btn {
        /* position: relative; */
        /* left: 100%; */
        /* margin-right: 10px; */
    }

    .search-bar-container {
        width: 16%;
        margin: 0;
        margin-left: 0px;
        padding: 0;
        margin-left: 2%;
    }


}


@media screen and (max-width: 680px) {

    body {
        background-color: red;
    }


    .search-resposive-button {
        right: 13%;
    }


    .main-auth-form-container {
        display: block;
        grid-template-columns: none;
        position: absolute;
        top: 100px;
        left: 20% !important;
    }

    .left-side-auth-form {
        display: none;
    }

    .search-bar-container {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
    }

    .dropdown-menu {
        position: absolute;
        top: 55px;
        left: 0%;
    }



    .main-menu-links-button {
        display: none;
    }

    .main-menu-container {
        position: relative;
        display: flex;
        justify-content: unset;

    }

    .site-logo {
        position: absolute;
        left: 21%
    }

    .submit-btn-container {
        position: relative;
        right: 25%;

    }



    .register-login-btn-container {
        position: relative;
        top: 0;
        right: -57%;
        margin-right: 10px;
    }


    .in-visble-bar {
        position: relative;
        left: 40%;
        width: 18%;
    }

    .active-responsive-search-bar {
        display: block;

    }


    .search-bar-container {
        position: relative;

        top: 0%;
        left: 28%;
    }

    .search-bar {
        width: 208%;
    }



    .scale-in-top {
        -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2023-5-10 10:38:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
    @-webkit-keyframes scale-in-top {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            opacity: 1;
        }
    }

    @keyframes scale-in-top {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            opacity: 1;
        }
    }



}


@media screen and (max-width:460px) {
    .site-logo {
        position: absolute;
        left: 11%
    }

    .login-fb-icon {
        display: none;
    }

    .login-google-icon {
        display: none;
    }

    .login-apple-icon {
        display: none;
    }
}


@media screen and (max-width:439px) {

    body {
        background-color: yellowgreen;
    }

    .dropdown-menu {
        width: 100% !important;
    }



    .mobile-owl {
        position: relative;
        left: 18%;
        bottom: -20%;

    }

    .site-logo {
        position: absolute;
        left: 11%;
    }

    .main-auth-form-container {
        position: absolute;
        left: 0% !important;
        display: block;
        grid-template-columns: none;
        width: 100% !important;
    }

    .submit-btn-container {
        /* position: absolute;
        top: 15%;
        left: 7%;
        padding: 22px; */
        /* width: 80px; */
    }

    .responsive-submit-btn {
        width: fit-content;
    }

    .in-visble-bar {
        position: relative;
        left: 22%;
        width: 18%;
    }

    .search-bar {
        position: relative;
        left: 60%;
        /* width: 100%; */
        width: 150px;
    }

    .search-resposive-button {
        position: absolute;
        top: 16%;
        right: 13%;
    }



    .register-login-btn-container {
        left: 71%;
    }

    .resposive-register-login-btn {
        left: 0 !important;
        top: 0;
    }

    /* .site-logo {
        width: 40%;
        left: 8%;
    } */





}

@media screen and (max-width:430px) {

    .resposive-register-login-btn {
        right: 39% !important;
        top: 0;
    }

}


@media screen and (max-width:360px) {


    .site-logo {
        position: absolute;
        left: 6%;
    }

}