.create-post-container {


    width: fit-content;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;

    padding: 30px;
    border: 1px solid green;

}

.create-post-form-container2{
    display: flex;
}


#detailsOfUser{
    text-align: center;
}

.text-area-ofert-details{
    resize: none;
}

#validationFormik01,
#validationFormik02,
#validationFormik03,
#validationFormik04,
#validationFormik05,
#validationFormik06,
#validationFormik07,
#validationFormik08
{

    width: 300px;
    margin-bottom: 10px;
}
#previous-btn{
    margin-bottom: 14px;
}
