.create-post-container {


    width: fit-content;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;

    padding: 30px;
    border: 1px solid green;

}

#validationFormik01{
    width: 300px;
    margin-bottom: 10px;
}

#validationFormik02{
    width: 300px;
    margin-bottom: 10px;

}

#validationFormik03{
    width: 300px;
    margin-bottom: 10px;

}

#detailsOfUser{
    text-align: center;
}

.text-area-ofert-details{
    resize: none;
}