.just-line {
    border-top: 1px solid white;
    /* position: relative;  */
    /* right: 5%; */
    /* top: 10px;  */
    width: 100%;
    padding-top:20px ;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* padding: 20px; */

}

.all-catergories{
    width: 100%;
}