.get-deal-page-container {
    
}

.deal-info-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.deal-info-container-last-child {
    margin-top: 10px;
}
.get-deal-container {
    padding: 30px;
    width: 50%;
    border: 1px solid grey;
    border-radius: 5px;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    margin: 15px auto;
}

.card-get-deal {
    width: 25rem;
    height: fit-content;
}

.get-deal-image-container {
    /* border: 1px solid blue; */

    width: 300px;
    height: 300px;
}

.spinner {
    margin: 50px;
    margin: auto;
    padding: 50px;
}

.post-details {
    position: absolute;
    top: 0;
    left: 0;
}

.image-get-details {
    width: 300px;
}



.price-heading-get-deails {
    color: #FF9300;
    margin: 20px;
}

.get-deal-btn {
    margin: 30px;
}

.get-deal-detail {
    margin-left: 50px;
}